<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LuxenOS</vendor>
  <vendor_url>https://github.com/NaBrO-pixel/Luxen0S</vendor_url>

  <action id="org.luxenos.pkg.install">
    <description>Install or update software packages</description>
    <message>Authentication is required to install software on this computer</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/luxenos/luxenos-pkg-root</annotate>
  </action>
</policyconfig>
